@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(218, 218, 197);
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.principal_section_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  margin: 20px 0 20px 0;
}

.header_container h1 {
  font-size: 30px;
}

.header_container p {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.tabs_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.tabs_container img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.tabs_container_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
}

.tabs_container_text_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  border-bottom: 2px solid #fff;
  padding: 2px;
}

.tabs_container_text_buttons_button {
  background-color: #ccc;
  font-size: 15px;
  border: none;
  width: 33%;
  height: auto;
  padding: 5px;
  cursor: pointer;
}

.isActive {
  background-color: #fff;
}

.tabs_container_text p {
  background-color: #ccc;
  font-size: 20px;
  padding: 5px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .tabs_container {
    width: 600px;
  }
}

@media only screen and (min-width: 1024px) {
  .tabs_container {
    grid-template-columns: repeat(2, 1fr);
    width: 800px;
    margin-top: 20px;
  }

  .tabs_container_text_buttons {
    height: 15%;
  }

  .tabs_container_text_buttons button {
    height: 100%;
  }

  .tabs_container p {
    height: 85%;
  }
}
