.tabs-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  padding: 0.625rem;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  margin: 1.25rem 0 1.25rem 0;
}

.header__title {
  font-size: 1.875rem;
}

.header__description {
  font-size: 1.25rem;
  margin: 0.625rem 0 0 0;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0.625rem;
  row-gap: 0.625rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.tabs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  border: 0.125rem solid var(--color-white);
  border-radius: 0.3125rem;
}

.tabs__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  border-bottom: 0.125rem solid var(--color-white);
  padding: 0.125rem;
}

.tabs__description {
  background-color: var(--color-secondary);
  font-size: 1.25rem;
  padding: 0.3125rem;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .tabs {
    width: 37.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .tabs {
    grid-template-columns: repeat(2, 1fr);
    width: 50rem;
    margin-top: 1.25rem;
  }

  .tabs__list {
    height: 15%;
  }

  .tabs__description {
    height: 85%;
  }
}
