.tab {
  background-color: var(--color-secondary);
  font-size: 0.9375rem;
  border: none;
  width: 33%;
  height: auto;
  padding: 0.3125rem;
  cursor: pointer;
}

.tab--active {
  background-color: var(--color-white);
}

@media only screen and (min-width: 1024px) {
  .tab {
    height: 100%;
  }
}
